[Desktop Entry]
Type=Application
Name=Mirakurun Viewer
Comment=Watch live TV with subtitles and live comments
Comment[ja]=字幕・実況コメント付きでテレビを視聴
Exec=mirakurun-viewer
Icon=io.github.ouvill.litv
Terminal=false
Categories=AudioVideo;Video;TV;
Keywords=TV;Mirakurun;NX-Jikkyo;
StartupNotify=true
StartupWMClass=mirakurun-viewer
