[Desktop Entry]
Type=Application
Name=NagameTV
Name[ja]=ながめTV
Comment=Watch live TV with subtitles and live comments
Comment[ja]=字幕・実況コメント付きでテレビを視聴
Exec=nagametv
Icon=io.github.ouvill.nagametv
Terminal=false
Categories=AudioVideo;Video;TV;
Keywords=TV;Mirakurun;NX-Jikkyo;
StartupNotify=true
StartupWMClass=nagametv
